<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LJRRuntime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A3863611D17CE44007BD1A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A38637A1D17CE44007BD1A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3863851D17CE44007BD1A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
